* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

h2, h3 {
    color: #5db2f8;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav ul {
    padding: inline;
    display: flex;
    gap: 2rem;
}

nav a:hover {
    font-weight: bold;
}

.profile  header {
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
} 

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

footer {
    padding: 20px;
    color: white;
    background-color: #ffafca;
    text-align: center;
    font-weight: bold;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #ffafca;
    text-align: center;
    color: black;
}

nav li {
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #ff9ebe;
    padding: 5px;
    position: sticky;
    top: 0;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column;
}

header {
    display: inline;
}

aside {
    flex: 1;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}
